body {
    background-image:url('snake.jpg');
    display:flex;
    justify-content:center;
    align-items:center;}
  
  
  header {
    display: block;
  font-size: 5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:plum;
  background-color:cornsilk;
  }

  